{% extends 'base.html' %}

{% block equiv %}<meta http-equiv="Content-Security-Police" content="upgrade-insecure-requests" >{% endblock %}

{% block title %}Halaman Home{% endblock %}

{% block styleFooter %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
{% endblock %}

{% block content %}
  <section class="hero bg-dark text-white py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <h1 class="display-4">Welcome to My Portfolio</h1>
          <p class="lead">I am a passionate designer and developer.</p>
          <a href="#contact" class="btn btn-primary btn-lg">Get In Touch</a>
        </div>
        <div class="col-lg-6">
          <img src="https://i.postimg.cc/cH6nbgMv/removal-ai-tmp-646ae3aac01e5.png" alt="Hero Image" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
  

  <section class="py-5 bg-light">
    <div class="container">
      <h2 class="text-center mb-5">Selected Works</h2>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <img src="https://i.postimg.cc/rw4RNkng/20230522-102515.jpg" class="card-img-top" alt="Image 1">
            <div class="card-body">
              <h5 class="card-title">program kasir menggunakan python</h5>
              <p class="card-text">project learning-x smester 1, membuat project kasir sederhana menggunakan bahasa pemrograman python</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <img src="https://i.postimg.cc/hhWcSHLP/20230522-102640.jpg" class="card-img-top" alt="Image 2">
            <div class="card-body">
              <h5 class="card-title">kalkulator sederhana menggunakan python</h5>
              <p class="card-text">project python sederhana 'membuat kalkulator'.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <img src="https://i.postimg.cc/QdLNJWWK/20230522-110154.jpg" class="card-img-top" alt="Image 3">
            <div class="card-body">
              <h5 class="card-title">membuat list favorit movies</h5>
              <p class="card-text">project python smester 2 'spartapedia' membuat list untuk movie/film favorit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-5">
    <div class="container">
      <h2 class="text-center mb-5">Services</h2>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Web Design</h5>
              <p class="card-text">Saya memberikan solusi desain web yang kreatif dan responsif.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Graphic Design</h5>
              <p class="card-text">Saya membuat grafik yang memukau secara visual untuk berbagai tujuan.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Mobile App Development</h5>
                <p class="card-text">I mengembangkan aplikasi seluler untuk platform iOS dan Android.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="py-5">
        <div class="container text-center">
          <h2>Call-to-Action</h2>
          <p class="lead">Siap untuk memulai proyek Anda? Hubungi saya sekarang!</p>
          <a href="https://wa.me/+6285814015797" class="btn btn-primary btn-lg">Get In Touch</a>
        </div>
      </section>

      <section class="py-5" id="about">
        <div class="container">
          <h2 class="text-center mb-5">About me</h2>
          <div class="row">
            <div class="col-md-6">
                <img src="https://i.postimg.cc/J0mJr1f8/sayoga.png" alt="Profile Picture" class="img-fluid rounded-circle mb-3">
            </div>
            <div class="col-md-6">
              <h3>Selamat datang di Portofolio Saya</h3>
              <p>Hallo! Saya sayoga pratama, seorang pengembang web backend. Mengembangkan aplikasi web yang kuat dan efisien adalah passion saya. Dalam peran saya sebagai pengembang backend, saya mahir dalam bahasa pemrograman PHP, kerangka kerja Laravel, serta pengelolaan basis data MySQL. Saya juga memiliki pemahaman tentang front-end dasar seperti HTML, CSS, dan JavaScript. Saya senang bekerja dalam tim kolaboratif dan selalu antusias untuk mempelajari perkembangan terbaru dalam industri ini. Mari kita wujudkan proyek web Anda dengan solusi keren dan sukses</p>
            </div>
          </div>
        </div>
      </section>

      <section id="contact" class="py-5 bg-light">
        <div class="container">
          <h2 class="text-center mb-5">Kontak</h2>
          <div class="row">
            <div class="col-md-6">
              <form>
                <div class="form-group">
                  <label for="name">Nama</label>
                  <input type="text" class="form-control" id="name" required>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" required>
                </div>
                <div class="form-group">
                  <label for="message">Pesan</label>
                  <textarea class="form-control" id="message" rows="5" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Kirim Pesan</button>
              </form>
            </div>
            <div class="col-md-6">
              <h4>Hubungi Saya</h4>
              <p>Jika Anda memiliki pertanyaan atau ingin berdiskusi tentang proyek, jangan ragu untuk menghub</p>
              <h5>Informasi Kontak</h5>
              <p>Email: sayogapratama565@gmail.com</p>
              <p>Telepon: 62 858-1401-5797</p>
              <p>Alamat: Jl. merpati raya sawah baru ciputat, tangerang selatan, indonesia</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}
  
