{% extends 'base.html' %}

{% block title %}Spartapedia{% endblock %}
{% block ogimage %}
    <meta property="og:image" content="{{ url_for('static', filename='meta/spartapedia.jpg') }}" />
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spartapedia.css') }}" />
{% endblock %}

{% block styleFooter %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
{% endblock %}

{% block scripts %}<script src="{{ url_for('static', filename='js/spartapedia.js') }}"></script>{% endblock %}

{% block content %}
<div class="mytitle">
  <h1>My Favorite Movies</h1>
  <button onclick="open_box()">Save movie</button>
</div>

<div class="mypost" id="post-box">
  
    <div id="success" class="alert alert-success alert-dismissible fade show d-none" role="alert">
      <strong>Sukses!</strong> Data berhasil ditambahkan.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  
    <div id="error" class="alert alert-danger alert-dismissible fade show d-none" role="alert">
      <strong>Error!</strong> URL tidak valid.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div id="warning" class="alert alert-warning alert-dismissible fade show d-none" role="alert">
      <strong>Alert!</strong> silahkan isi semua form.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  
    <div id="info" class="alert alert-info alert-dismissible fade show d-none" role="alert">
      <strong>Info!</strong> URL harus dari imdb.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  
  <div class="form-floating mb-3">
    <input id="url" type="email" class="form-control" placeholder="name@example.com" />
    <label>Movie URL</label>
  </div>
  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">Rating</label>
    <select class="form-select" id="star">
      <option value="" selected>-- Select a rating--</option>
      <option value="1">⭐</option>
      <option value="2">⭐⭐</option>
      <option value="3">⭐⭐⭐</option>
      <option value="4">⭐⭐⭐⭐</option>
      <option value="5">⭐⭐⭐⭐⭐</option>
    </select>
  </div>
  <div class="form-floating">
    <textarea id="comment" class="form-control" placeholder="Leave a comment here"></textarea>
    <label for="floatingTextarea2">Comment</label>
  </div>
  <div class="mybtns">
    <button id="Save" onclick="posting()" type="button" class="btn btn-dark">Save</button>
    <button onclick="close_box()" type="button" class="btn btn-outline-dark">Close</button>
  </div>
</div>

<div class="mycards">
  <div class="row row-cols-1 row-cols-md-4 g-4" id="cards-box"></div>
</div>
{% endblock %}
