      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 footer-box">
            <img src="https://d.top4top.io/p_2673v44fh1.png" width="50" alt="Logo" />
            <p class="footer-text">Security System Alert adalah sebuah komunitas berbasis cyber security yang mengedepankan kehati-hatian dan kewaspadaan seperti burung hantu, untuk melindungi sistem keamanan informasi.</p>
          </div>
          <div class="col-md-4 col-sm-6 footer-box">
            <h3 class="footer-heading">Quick Links</h3>
            <ul class="footer-list">
              <li><a href="http://profesords.rf.gd">My Website</a></li>
              <li><a href="http://profesords.rf.gd/#about">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="http://profesords.rf.gd/#contact">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-12 footer-box">
            <h3 class="footer-heading">Contact Us</h3>
            <ul class="footer-list">
              <li><i class="fa fa-map-marker"></i> 15413 Ciputat, Tangerang Selatan</li>
              <li><i class="fa fa-phone"></i> +62 858 1401 5797</li>
              <li><i class="fa fa-envelope"></i> info@profesords.rf.gd</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr />
            <p class="footer-text">&copy; 2023 SayogaPratama. All Rights Reserved.</p>
          </div>
        </div>
      </div>
